header img{
    width: 81px;
    height: 37px;
}
#about-us a{ color: #FFD302; }
.aboutUS{
    margin-top: -23px;
    margin: 50px 0;
    font-family: arial;
    margin-top: 150px;
    margin-left: 12%;
    margin-right: 12%;
}